html {
  box-sizing: border-box;
}
html, body {
  color: $font-color;
  background: $white;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  font: {
    family: $text-font-stack;
    size: 10px !important;
  };
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}


